<div>
  <button mat-raised-button (click)="startStream()">Start stream!</button>
  <button mat-raised-button (click)="stopStream()">Stop stream!</button>
</div>

<div>
  <h3 >Choose Crypto</h3>
  <mat-radio-group>
    <mat-radio-button value="btc" (change)="radioButtonSelected($event)" [checked]="true">BTC</mat-radio-button>
    <mat-radio-button value="eth" (change)="radioButtonSelected($event)">ETH</mat-radio-button>
    <mat-radio-button value="xrp" (change)="radioButtonSelected($event)">XRP</mat-radio-button>
    <mat-radio-button value="ltc" (change)="radioButtonSelected($event)">LTC</mat-radio-button>
    <mat-radio-button value="bch" (change)="radioButtonSelected($event)">BCH</mat-radio-button>
    <mat-radio-button value="etc" (change)="radioButtonSelected($event)">ETC</mat-radio-button>
  </mat-radio-group>
</div>

<div>
  <h3>Prices</h3>
  <div>
    <h4>USD: {{USD_price}}</h4>
    <h4>GBP: {{GBP_price}}</h4>
    <h4>EUR: {{EUR_price}}</h4>
    <h4>JPY: {{JPY_price}}</h4>
    <h4>ZAR: {{ZAR_price}}</h4>
  </div>  
</div>