<div>
  <h3 >Choose Crypto</h3>
  <button mat-raised-button (click)="getBTC('btc')">BTC</button>
  <button mat-raised-button (click)="getBTC('eth')">ETH</button>
  <button mat-raised-button (click)="getBTC('xrp')">XRP</button>
  <button mat-raised-button (click)="getBTC('ltc')">LTC</button>
  <button mat-raised-button (click)="getBTC('bch')">BCH</button>
  <button mat-raised-button (click)="getBTC('etc')">ETC</button>
</div>

<div>
  <h3>Prices</h3>
  <div>
    <h4>USD: {{USD_price}}</h4>
    <h4>GBP: {{GBP_price}}</h4>
    <h4>EUR: {{EUR_price}}</h4>
    <h4>JPY: {{JPY_price}}</h4>
    <h4>ZAR: {{ZAR_price}}</h4>
  </div>  
</div>